<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            <span style="color:#5bc0de" class="glyphicon glyphicon-plus"> </span> Add the Employer's Data</p>
    </div>
    <div class="panel-body">
        <form ng-submit="">
            <div class="form-group">
                <label for="name">Name :</label>
                <input type="text" class="form-control" id="name" ng-model="employee.name">
            </div>
            <div class="form-group">
                <label for="name">Department :</label>
                <input type="text" class="form-control" id="dept" ng-model="employee.dept">
            </div>
            <div class="form-group">
                <label for="name">Contact :</label>
                <input type="text" class="form-control" id="contact" ng-model="employee.contact">
            </div>
            <div class="form-group">
                <label for="name">Salary :</label>
                <input type="text" class="form-control" id="salary" ng-model="employee.salary">
            </div>

            <button type="button" ng-click="addEmployee()" class="btn btn-default">Save</button>
            <a href="#/employees" class="btn btn-default"> Cancel</a>
        </form>
    </div>
</div>